{% extends "app/layout.html" %}
{% block content %}

<div class="jumbotron">
    <h1>Jobbo</h1>
    <p class="lead">Jobbo is a job aggregator that helps me save time in my job search. It finds jobs from Weworkremotely and Remoteok every Monday at 9am, does some filtering, and stores the results in a database so it's easy for me to check and apply. Check some of the recent jobs found below. You can look at the <a href="https://github.com/nicofasho/Jobbo">repository here</a>.</p>
</div>

{% for scrape in scrapes reversed %}

<div class="card mb-3">
    <div class="card-body">
        <a href="{% url 'detail' scrape.id %}">
            <h4 class="card-title">
                {{ scrape }}
            </h4>
        </a>
    </div>
</div>

{% endfor %}

{% endblock %}
